[submodule "CrossPlatform/Experiment5/SDL"]
	path = CrossPlatform/Experiment5/SDL
	url = https://github.com/libsdl-org/SDL
[submodule "Assimp/Assimp1/assimp"]
	path = Assimp/Assimp1/assimp
	url = https://github.com/assimp/assimp
[submodule "Assimp/Assimp2/assimp"]
	path = Assimp/Assimp2/assimp
	url = https://github.com/assimp/assimp
[submodule "CMake/Test3/o2-pong/third-party/test-submodule"]
	path = CMake/Test3/o2-pong/third-party/test-submodule
	url = https://github.com/perezite/test-submodule
